<template name="adminlayout">
    <nav class="navbar ag_navbar">
			<div class="container-fluid">
			    <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span class="ag_red">AppGrade</span></a>
			    	
			    	<button type="button" class="navbar-toggle collapsed ag_nav-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			    		<span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar ag_button-bar"></span>
					    <span class="icon-bar ag_button-bar"></span>
					    <span class="icon-bar ag_button-bar"></span>
					</button>
			    </div>
			    <!-- NAV-BAR: MENU -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
						<li class="{{#if currentRouteIs 'main'}}active{{/if}}"><a href="/"><span class="glyphicon glyphicon-user"></span> {{ showname }}</a></li>
						<li class="{{#if currentRouteIs 'klassen'}}active{{/if}}"><a href="/klassen"><span class="glyphicon glyphicon-exclamation-sign"></span> Klassen</a></li>
						<li class="{{#if currentRouteIs 'faecher'}}active{{/if}}"><a href="/faecher"><span class="glyphicon glyphicon-blackboard"></span> Fächer</a></li>
<!--						<li><a href="#"><span class="glyphicon glyphicon-font"></span> Noten</a></li>-->
                        <li><a href="#" class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				    </ul>
				</div>
			</div>
		</nav>
    {{> yield }}
</template>
