<template name="delcompetenceModalTemplate">
  <div class="modal fade" id="delcompetenceModal">
      <br />
      <br />
      <br />
      <br />
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Kompetenz wirklich löschen?</h3>
        </div>

        <div class="modal-body">
            
            Die Kompetenz, alle Deskriptoren sowie Schüler-Bewertungen für diesen Bereich werden gelöscht! 
           
          </div>
        <div class="modal-footer">
          <button type="button" class="delcomp btn btn-danger" id="save">Löschen</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        </div>

      
    </div>
  </div>
    </div>
    
</template>