<template name="teachertable">
    <br />
    <br />
    <br />
    <div id="gradetable_panel" class="panel" style="margin-top: -30px;">
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
                            
                            
                            {{ #each competences }}
							
							<th colspan="{{descriptors.length}}"> 
								<span>{{ competencedesc }}</span>
                    
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz minimieren"></span>
								<span class="glyphicon glyphicon-trash span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz löschen" style="display: none"></span>
								<span class="glyphicon glyphicon-edit span_clickable editcomp" data-toggle="tooltip" data-placement="top" data-compid="{{ competenceid}}" title="Kompetenz bearbeiten"></span>
                                
                                
                                
							</th>
                            
                            {{ /each }}
							
							<th><span class="newcomp glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz hinzufügen"></span></th>
						</tr>
						<tr>
							<th>
								<span>NACHNAME Vorname</span>
							</th>
                            
                            {{#each competences}}
                            {{#each descriptors}}
							<th>
								<span>{{descriptordesc}}</span>
							</th>
                            {{/each}}
<!--
                            <th>
								<span class="glyphicon glyphicon-plus span_clickable" style="display: none" data-toggle="tooltip" data-placement="top" title="Discriptor hinzufügen"></span>
							</th>
-->
                            {{/each}}
<!--
							<th>
								<span>Descriptor 3</span>
							</th>
-->
<!--
							<th>
								<span class="glyphicon glyphicon-plus span_clickable" style="display: none" data-toggle="tooltip" data-placement="top" title="Discriptor hinzufügen"></span>
							</th>
-->
						</tr>
					</thead>
                    
                    
                    
                    
                    
                    
					<tbody>
                        {{#each dataset}}
                            
						<tr>
                            
							<td class="cell_name">
								<br/>
								<img src="/avatars/avatar.jpg" class="avatar" width="80" height="80"/>{{student.lastName}} {{student.firstName}}
							</td>
                            
<!--
							<td class="success">
								40/40
								<div class="timeline">
								</div>
								<span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="positive Mitarbeit hinzufügen"></span>
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="negative Mitarbeit hinzufügen"></span>
							</td>
							<td class="warning">
								30/40
								<div class="timeline">
								</div>
								<span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="positive Mitarbeit hinzufügen"></span>
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="negative Mitarbeit hinzufügen"></span>
							</td>
							<td class="danger">
								10/20
								<div class="timeline">
								</div>
								<span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="positive Mitarbeit hinzufügen"></span>
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="negative Mitarbeit hinzufügen"></span>
							</td>
-->
                            
                            {{#each competencesdata}}
                                {{#each descriptorsdata}}
                                    <td class="{{status}}">
                                        <p style="display:inline;" class="pointsval">{{pointsreached}}</p>/<p style="display:inline;" class="pointsmax">{{pointsmax}}</p>
                                        <div class="timeline">
                                        </div>
                                        <span class="glyphicon glyphicon-plus span_clickable pluspoints" data-userid="{{../../student._id}}" data-descid="{{descriptorid}}"  data-studhasdescid="{{studhasdescid}}" title="positive Mitarbeit hinzufügen"></span>
                                        <span class="glyphicon glyphicon-minus span_clickable minuspoints" data-userid="{{../../student._id}}" data-studhasdescid="{{studhasdescid}}" title="negative Mitarbeit hinzufügen"></span>
                                    </td>
                                {{/each}}
                            {{/each}}
							
						</tr>
                        {{/each}}
                        
					</tbody>
				</table>
			</div>
		</div>
    
    {{> competenceModalTemplate}}
</template>
