<template name="teacherkurse">
    <h1 style="text-align: center;">Meine Kurse</h1>
    <div>
    </div>
    
    {{ #each dataset }} 
    <div class="panel course">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10">
						<span class="course-title">{{ subjectdesc }}</span>
						
<!--						<span class="course-trainer">TrainerIn: Vorname NACHNAME</span>-->
					</div>
					<div class="col-md-2">
                        {{#each classes}}
						<a href="/kurse/{{../subjectid}}/{{classid}}">
                            <span class="course-class">Klasse: {{ classdesc }}</span>
                        </a>
						{{/each}}
						<span class="course-vintage">Jahrgang: {{yearsdesc}}</span>
					</div>
				</div>
			</div>
		</div>
    {{ /each }}
    
</template>