<template name="teacherkurse">
    <h1>Daten</h1>
    <div>
<!--
        <ul>
            {{ #each competence }}
            <li>{{competencedesc}}</li>
            {{ /each }}
        </ul>
        <ul>
            {{ #each descriptor }}
            <li>{{descriptordesc}}</li>
            {{ /each }}
        </ul>
-->
        <ul>
            {{ #each dataset }}
            <li>{{yearsdesc}} , {{ subjectdesc }}</li>
            {{ /each }}
        </ul>
<!--
        <form class="showyears">
        <select name="selectedyears">
            {{ #each years }}
            <option value="{{ yearsdesc }}">{{ yearsdesc }}</option>
            {{ /each }}
        </select>
        <select name="selectedsubject">
            {{ #each subject }}
            <option value="{{ subjectdesc }}">{{ subjectdesc }}</option>
            {{ /each }}
        </select>
        <select name="selectedths">
            {{ #each teacherhassubject }}
            <option value="{{ userid }}">{{ userid }}</option>
            {{ /each }}
        </select>
        </form>
-->
    </div>
</template>