<template name="teachertable">
    <br />
    <br />
    <br />
    <div id="gradetable_panel" class="panel" style="margin-top: -30px;">
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
                            
                            {{ #each competences }}
							
							<th colspan="2"> 
								<span>{{ competencedesc }}</span>
                    
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz minimieren"></span>
								<span class="glyphicon glyphicon-trash span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz löschen" style="display: none"></span>
								<span class="glyphicon glyphicon-edit span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz bearbeiten"></span>
                                <tr>
                                
                                    {{#each descriptors}}
                                    <th>
                                    <span>{{descriptordesc}}</span>
                                    </th>
                                    {{/each}}
								
							     
                                </tr>
                                
                                
							</th>
                            
                            {{ /each }}
							
							<th><span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="Kompetenz hinzufügen"></span></th>
						</tr>
						<tr>
							<th>
								<span>NACHNAME Vorname</span>
							</th>
							<th>
								<span>Deskriptor 2</span>
							</th>
							<th>
								<span>Descriptor 3</span>
							</th>
							<th>
								<span class="glyphicon glyphicon-plus span_clickable" style="display: none" data-toggle="tooltip" data-placement="top" title="Discriptor hinzufügen"></span>
							</th>
						</tr>
					</thead>
                    
                    
                    
                    
                    
                    
					<tbody>
						<tr>
							<td class="cell_name">
								#1
								<br/>
								<img src="/avatars/avatar.jpg" class="avatar" width="80" height="80"/>Tomas Testo
							</td>
							<td class="success">
								40/40
								<div class="timeline">
								</div>
								<span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="positive Mitarbeit hinzufügen"></span>
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="negative Mitarbeit hinzufügen"></span>
							</td>
							<td class="warning">
								30/40
								<div class="timeline">
								</div>
								<span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="positive Mitarbeit hinzufügen"></span>
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="negative Mitarbeit hinzufügen"></span>
							</td>
							<td class="danger">
								10/20
								<div class="timeline">
								</div>
								<span class="glyphicon glyphicon-plus span_clickable" data-toggle="tooltip" data-placement="top" title="positive Mitarbeit hinzufügen"></span>
								<span class="glyphicon glyphicon-minus span_clickable" data-toggle="tooltip" data-placement="top" title="negative Mitarbeit hinzufügen"></span>
							</td>
							<td></td>
						</tr>
                        
					</tbody>
				</table>
			</div>
		</div>
</template>