/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* BASIC HTML TAGS*/
html,body { height: 100%; width: 100%; margin: 0px; padding: 0px; }

body{
	background-color: #EFEFEF;
}

th {
	text-align: center;
}

td {
	text-align: center;
	vertical-align:middle !important;
}

th span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.popup h3 {
	text-align: center;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */







/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* IDs */
#login_panel {
	width: 90%;
	max-width: 600px;
	
	background-color: #ffffff;
	
	margin: auto;
	
	
	/*
		ALIGN VERTICALLY CENTERED
		
		http://stackoverflow.com/questions/18649106/div-vertical-align-middle-css
	*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
}

	#login_panel * {
		display: block;
		
		text-align: center;
		
		margin: auto;
		margin-bottom: 30px;
	}
		
	#login_panel:last-child {
		padding-bottom: 10px;
	}
	
#gradetable_panel {
	width: 90%;
	margin: auto;
	padding: 30px;
	
	z-index: 10 !important;
}
	
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */












/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* CLASSES */

.points {
	margin-right: 100px;
}

.span_clickable {
	margin: 10px;
}

	.span_clickable:hover {
		cursor: pointer;
	}

.timeline {
	border-style: none;
	background-color: #000000;
	width: 100%;
	height: 10px;
}

.cell_name {
	text-align: left;	
}

.popup {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	
	width: 90%;
	max-width: 600px;
	min-width: 300px;
 	
	/*
		ALIGN VERTICALLY CENTERED
		
		http://stackoverflow.com/questions/18649106/div-vertical-align-middle-css
	*/
	

	position: absolute;
	top: 50%;
	left: 25%;
 	
 	transform: translateX(-25%);
 	transform: translateY(-50%);
 
 	
 	
 	padding: 20px;
 	margin: auto; 	
 	z-index: 100 !important;
 	display: block;
 	/*
	 	
	 	
	 	position: absolute;
	top: 50%;
	left: 20%;
	
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 	
 	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
 	transform: translateX(-50%);
 	
 	margin: auto;
 	padding: 20px;
 	z-index: 100 !important;
 	
 	

 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	width: 60%;
 	margin: 0 auto;
 	*/
 
 	
}

.avatar {
	border-radius: 100%;
	margin-right: 10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
	
	
	
	
	
	
	
	
	
	
	
	
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* BOOTSTRAP SPECIFIC */
.navbar-nav a {
	color: #58595B;
}

.navbar-nav a:link {
	color: #58595B;
}

.active a{
	background-color: #b90000;
	color: #ffffff;
}

.active a:link {
	color: #ffffff;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* APPGRADE SPECIFIC, e.g. color theme */


/* certain red for the theme */
.ag_red {
	color: #b90000;
}

/* button style */
.ag_button {
	border-style: solid;
	border-width: 1px;
	
	border-radius: 30px;
	min-width: 150px;
	
	border-color: #b90000;
	color: #b90000;
	background-color: transparent;
	
	padding: 15px 10px 15px 10px;
}

	.ag_button:hover {
		color: #ffffff;
		background-color: #b90000;
	}
	
/* textfield style */
.ag_textfield {
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	
	border-color: #c0c0c0;
	
	text-align: center;
	
	padding: 15px 5px 15px 5px;
}


/* navbar */
.ag_navbar {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CDCDCD;
	border-radius: 0px;
	
	
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.ag_navbar a:link {
	color: #58595B;
}

.ag_navbar a:hover {
	color: #58595B;
}

.ag_navbar .active {
	background-color: #b90000;
	color: #ffffff;
}

.ag_navbar .active a:link {
	color: #ffffff;
}

.navbar-toggle {
	border-style: solid;
	border-width: 1px;
	border-color: #b90000;
	
	background-color: transparend;
}

	.navbar-toggle:hover {
		background-color: #b90000;
	}
	
	.ag_button-bar {
		background-color: #b90000;
	}
		.navbar-toggle:hover .ag_button-bar {
			background-color: #ffffff;
		}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */















/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* FUNCTIONS / BEHAVIOURS / MODES */

.fnc_stretch {
	width: 90%;
}

.fnc_spacer_30 {
	height: 10px;
}

.mode_edit {
	display: none;
}

.mode_normal {
	display: block;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
