/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* BASIC HTML TAGS*/
html,body { height: 100%; width: 100%; margin: 0px; padding: 0px; }

body{
	background-color: #EFEFEF;
}

th {
	text-align: center;
}

td {
	text-align: center;
	vertical-align:middle !important;
}

th span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.popup h3 {
	text-align: center;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */







/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* IDs */
#login_panel {
	width: 90%;
	max-width: 600px;
	
	background-color: #ffffff;
	
	margin: auto;
	
	
	/*
		ALIGN VERTICALLY CENTERED
		
		http://stackoverflow.com/questions/18649106/div-vertical-align-middle-css
	*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
}

	#login_panel * {
		display: block;
		
		text-align: center;
		
		margin: auto;
		margin-bottom: 30px;
	}
		
	#login_panel:last-child {
		padding-bottom: 10px;
	}
	
#gradetable_panel {
	width: 90%;
	margin: auto;
	padding: 30px;
	
	z-index: 10 !important;
}

#panel_classes {
	width: 90%;
	
	margin: auto;
	padding: 30px;
	
	/*
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 	*/
}

/* list with all classes */
#classes {
	width: 90%;
	height: auto;
	
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #d0d0d0;
	
	border-radius: 5px;
	
	margin: auto;
}

	/* fit table into container - remove space */
	#classes table {
		margin: 0px;
		padding: 0px;
		
	}
	
	/* fix border when hovering */
	#classes table tr:last-child:hover *{
		border-radius: 5px;
	}
	
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */











/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* CLASSES */

.points {
	margin-right: 100px;
}

.span_clickable {
	margin: 10px;
}

	.span_clickable:hover {
		cursor: pointer;
	}

.timeline {
	border-style: none;
	background-color: #000000;
	width: 100%;
	height: 10px;
}

.cell_name {
	text-align: left;	
}

.popup {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	
	width: 90%;
	max-width: 600px;
	min-width: 300px;
 	
	/*
		ALIGN VERTICALLY CENTERED
		
		http://stackoverflow.com/questions/18649106/div-vertical-align-middle-css
	*/
	

	position: absolute;
	top: 50%;
	left: 25%;
 	
 	transform: translateX(-25%);
 	transform: translateY(-50%);
 
 	
 	
 	padding: 20px;
 	margin: auto; 	
 	z-index: 100 !important;
 	display: block;
 	/*
	 	
	 	
	 	position: absolute;
	top: 50%;
	left: 20%;
	
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 	
 	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
 	transform: translateX(-50%);
 	
 	margin: auto;
 	padding: 20px;
 	z-index: 100 !important;
 	
 	

 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	width: 60%;
 	margin: 0 auto;
 	*/
 
 	
}

.avatar {
	border-radius: 100%;
	margin-right: 10px;
}


.container_classes_buttons {
	width: 90%;
	margin: auto;
}

	.container_classes_buttons * {
		margin: 0px 10px 5px 0px;
	}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
	
	
	
	
	
	
	
	
	
	
	
	
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* BOOTSTRAP SPECIFIC */
.navbar-nav a {
	color: #58595B;
}

.navbar-nav a:link {
	color: #58595B;
}

.active a{
	background-color: #b90000;
	color: #ffffff;
}

.active a:link {
	color: #ffffff;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* APPGRADE SPECIFIC, e.g. color theme */


/* certain red for the theme */
.ag_red {
	color: #b90000;
}

/* button style */
.ag_button {
	border-style: solid;
	border-width: 1px;
	
	border-radius: 30px;
	min-width: 150px;
	
	border-color: #b90000;
	color: #b90000;
	background-color: transparent;
	
	padding: 15px 10px 15px 10px;
}

	.ag_button:hover {
		color: #ffffff;
		background-color: #b90000;
	}
	
	
.ag_button_alt {
	border-radius: 5px;
	
	color: #ffffff;
	background-color: #b90000;
}

	.ag_button_alt:hover {
		color: #ffffff;
		background-color: rgba(186, 0, 0, 0.83);
	}

.ag_button-success {
	background-color: #44ab00;
	color: #ffffff
}	

.ag_button-cancel {
	background-color: #cc0000;
	color: #ffffff
}


	
/* textfield style */
.ag_textfield {
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	
	border-color: #c0c0c0;
	
	text-align: center;
	
	padding: 15px 5px 15px 5px;
}


/* navbar */
.ag_navbar {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CDCDCD;
	border-radius: 0px;
	
	
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.ag_navbar a:link {
	color: #58595B;
}

.ag_navbar a:hover {
	color: #58595B;
}

.ag_navbar .active {
	background-color: #b90000;
	color: #ffffff;
}

.ag_navbar .active a:link {
	color: #ffffff;
}

.navbar-toggle {
	border-style: solid;
	border-width: 1px;
	border-color: #b90000;
	
	background-color: transparend;
}

	.navbar-toggle:hover {
		background-color: #b90000;
	}
	
	.ag_button-bar {
		background-color: #b90000;
	}
		.navbar-toggle:hover .ag_button-bar {
			background-color: #ffffff;
		}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */















/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* FUNCTIONS / BEHAVIOURS / MODES */

.fnc_stretch {
	width: 90%;
}

.fnc_spacer_30 {
	height: 10px;
}

.mode_edit {
	display: none;
}

.mode_normal {
	display: block;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */















/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*	CLASS-LIST */

/* list with subjects and grades for student view - should be renamed to 'subject-list' */
#class-list {
	width: 80%;
	padding-bottom: 50px;
	margin: auto;
}

.list-group-item {
	padding-top: 15px;
	padding-bottom: 15px;
}
	
#container_classview {
	/*
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #d0d0d0; 
	*/
	width: 80%;
	margin: auto;
	padding-bottom: 50px;
}

#classview {
	width: 100%;
	
	margin: auto;
}

	#classview tr {
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		border-color: #d0d0d0; 
		
		background: rgba(255, 255, 255, 1.0);
	}
	
		#classview tr:hover {
			background: rgba(245, 245, 245, 0.7);
		}
	
	#classview td {
		padding: 15px;
		
		text-align: left;
	}
	
	
.competence_title {
	text-align: center;
	
	/*
	background: #b90000;
	color: #ffffff;
	*/
}


.classview_points {
	float: right;
}

.classview_competence {
	
}

.classview_descriptor {
	text-align: left;
}

.descriptor_description {
	display: block;
}

.center {
	text-align: center;
	margin: auto;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */














/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ADD STUDENT TO CLASS */

#container_students {
	width: 90%;
	margin: auto;
}

#container_students table {
	width: 100%;
	background-color: #ffffff;
	margin: auto;
}

	#container_students tr th h4 {
		background-color: #ffffff;
		padding: 10px 10px 10px 10px;
	}

.studentlist {
	height: 300px;
	overflow-y: scroll;
	
	background-color: #ffffff;
}

.studentlist ul {
	text-align:left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
	
	.studentlist li {
		text-align:left;
		list-style-type: none;
		margin: 0px;
	}
	
		.studentlist li p {	
			text-align:left;
			list-style-type: none;
			margin: 0px;
			padding: 20px 50px 20px 20px;
		}
	
	.studentlist li:hover {
		background-color: #efefef;
	}
	
	.studentlist hr {
		width: 95%;
		margin: auto;
	}

#studentlist_header {
	background-color: #ffffff;
}

#studentlist_header div {
	display: inline;
}

.conainer_studentlist {
	width: 50%;
	background-color: #ffffff;
}


.conainer_studentlist h4 {
	margin: 20px;
}

#studentlist_controllpanel {
	width: 100%;
	background-color: #ffffff;
	
	clear:both;
	padding: 20px;
	margin: auto;
}

	#studentlist_controllpanel button{
		margin: 10px;
	}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */












/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* KURSLISTE */


.course {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #d0d0d0; 
		
	width: 90%;
	max-width: 800px;
	border-radius: 5px;
	
	background-color: #ffffff;
	
	padding: 20px 10px 20px 10px;
	margin: auto;
	margin-bottom: 30px;
}

	.course span {
		display: block;
	}

.course-title {
	font-size: 20px;
	margin-bottom: 10px;
}









/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ADD STUDENT TO CLASS */

#container_students {
	width: 90%;
	margin: auto;
}

#container_students table {
	width: 100%;
	background-color: #ffffff;
	margin: auto;
}

	#container_students tr th h4 {
		background-color: #ffffff;
		padding: 10px 10px 10px 10px;
	}

.studentlist {
	height: 300px;
	overflow-y: scroll;
	
	background-color: #ffffff;
}

.studentlist ul {
	text-align:left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
	
	.studentlist li {
		text-align:left;
		list-style-type: none;
		margin: 0px;
	}
	
		.studentlist li p {	
			text-align:left;
			list-style-type: none;
			margin: 0px;
			padding: 20px 50px 20px 20px;
		}
	
	.studentlist li:hover {
		background-color: #efefef;
	}
	
	.studentlist hr {
		width: 95%;
		margin: auto;
	}

#studentlist_header {
	background-color: #ffffff;
}

#studentlist_header div {
	display: inline;
}

.conainer_studentlist {
	width: 50%;
	background-color: #ffffff;
}


.conainer_studentlist h4 {
	margin: 20px;
}

#studentlist_controllpanel {
	width: 100%;
	background-color: #ffffff;
	
	clear:both;
	padding: 20px;
	margin: auto;
}

	#studentlist_controllpanel button{
		margin: 10px;
	}



























/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


