<template name="studentsubject">
        <br />
    
    
		<div id="container_pointlist">
			<button type="button" class="btn btn-default ag_button_white glyphicon glyphicon-chevron-left back"></button>
            <button type="button" class="btn btn-default ag_button_white glyphicon glyphicon-refresh refresh"></button>
			
            {{#each dataset}}
            
			<div class="list-group pointlist">
				<a href="#" class="list-group-item ag_list-group-header">
					{{competencedesc}}
					
					<span class="pull-right">{{pointsreached}}/{{pointsmax}}</span>
				</a>
                
                {{#each descriptorsdata}}
                
				<a href="#" class="list-group-item list-group-item-{{status}}">
					{{descriptordesc}}
					<span class="pull-right">{{pointsreached}}/{{pointsmax}}</span>
					
<!--
					<span class="descriptor_description">
						Lorem Ipsum ................
					</span>
-->
				</a>
                
                {{/each}}
			</div>
            
            {{/each}}
		</div>
</template>