<template name="adminfaecher">
    <br/>
		<br/>
		<br/>
    <div id="classes">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Kursbeschreibung</th>
						<th>Jahrgang</th>
					</tr>
				</thead>
				<tbody>
<!--
					<tr>
						<td>AI</td>
						<td>1I</td>
					</tr>
					<tr>
						<td>BI</td>
						<td>1I</td>
					</tr>
					<tr>
						<td>CI</td>
						<td>1I</td>
					</tr>
					<tr>
						<td>DI</td>
						<td>1I</td>
					</tr>
-->
                    {{#each subjects}}
                    <tr class="subjectlink" data-link="{{subjectid}}" name="classlinkName">
                        <td>{{subjectdesc}}</td>
                        <td>{{yearsdesc}}</td>
                        </tr>
                    {{/each}}
				</tbody>
			</table>
		</div>
		
		<div class="container_classes_buttons">
				<br/>
			Neuer Kurs:
				<br/>
			<span class="pull-left">
				<input type="text" class="form-control subjectinput" name="subjectinput" placeholder="Kursbeschreibung..." />
			</span>
			<span class="pull-left">
				<select class="form-control selectedyear" name="selectedclass">
                    
                    {{#each years}}
                    
                    <option data-yearsid="{{yearsid}}">{{yearsdesc}}</option>
                    
                    {{/each}}
                    
				</select>
			</span>
			<span class="pull-left">
				<button type="button" class="addsubject btn ag_button_alt" name="addclass">Erstellen</button>
			</span>
            <span class="pull-left inputerror hide">
				<div class="alert alert-danger">Kein Kursname angegeben!</div>
			</span>
		</div>
</template>