<template name="login">
  <div id="login_panel" style="margin-top: -30px;">
			<span class="fnc_spacer_30"></span>
            <img class="img-responsive" src="/img/logo.png">
			<form>
                <input type="text" placeholder="Benutzername" class="ag_textfield fnc_stretch" name="loginUsername"/>
                <input type="password" placeholder="Passwort" class="ag_textfield fnc_stretch" name="loginPassword"/>
                <input type="submit" value="Login" class="ag_button"/>
                {{#if attributes }}
                <p>{{ attributes }}</p>
                {{/if}}
            </form>
          <div class="alert alert-danger hide errormsg"></div>
		</div>

</template>